/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 2000px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-bg {
  background-color: #000;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu a {
  color: #fff;
  font-size: 1.125rem;
  padding: 15px 0;
  display: inline-block;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #ffbb00;
  margin-top: 4px;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
  transition: 0.3s;
}

/*Introduçao*/
.introducao-bg {
  background-color: #000;
  color: #fff;
  box-shadow: inset 0 -120px #fff;
}

.introducao-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 40px;
}

.introducao-container img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.introducao-conteudo {
  align-self: end;
  margin-bottom: 200px;
  padding: 0 20px;
}

.introducao-conteudo h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.125;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.introducao-conteudo h1 > span {
  color: #ffbb00;
}

.introducao-conteudo p {
  margin-bottom: 20px;
  max-width: 40ch;
  font-size: 1.375rem;
  line-height: 1.5;
  color: #b2b2b2;
}

.botao {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.0625rem;
  line-height: 1.33;
  background: linear-gradient(#ffbb00, #f2e50c);
  border: none;
  border-radius: 10px;
  color: #332200;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-weight: bold;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 800px) {
  .header-menu a {
    background-color: #111;
    padding: 10px 15px;
    border-radius: 5px;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
    transition: 0.3s;
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-container {
    justify-content: center;
  }

  .header-menu {
    padding-top: 25px;
    gap: 15px;
  }

  .header-menu a {
    font-size: 0.9375rem;
  }
}
