.introducao-bg {
  background: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao-bg > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
}

.introducao-conteudo {
  align-self: end;
  margin-bottom: 200px;
}

.introducao-conteudo img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.font-1-xxl {
  margin-bottom: 32px;
}

.font-2-l {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: var(--cor-11);
    padding-top: 50px;
    box-shadow: inset 0 -70px var(--cor-0);
  }

  .introducao-bg > .container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .introducao-conteudo {
    margin-bottom: 0;
  }

  .introducao-bg > .container img {
    height: 400px;
    width: 100%;
  }
}
